<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>Examples</title>
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no" />
<link href="" rel="stylesheet">
<link href="../dist/css/footer.css" rel="stylesheet">
<link href="../dist/css/header.css" rel="stylesheet">
<link href="../dist/css/addInB.css" rel="stylesheet">
<style>
*{margin:0; padding:0; list-style:none;}
a{ text-decoration:none;}
.clearFix:after{ content:''; display:block; clear:both; }
.clearFix{ zoom:1; }
.fl{ float: left; }
.fr{ float: right; }
html{font-size:25px; font-family: 'Microsoft Yahei;'}
.box{
	overflow: hidden;
}
/*  ↑↑↑↑↑通用
**页面样式
 */
</style>
<script type="text/javascript">
window.onload=function(){
	document.documentElement.style.fontSize = document.documentElement.clientWidth/375*25+'px';
	window.onresize = function(){
		document.documentElement.style.fontSize = document.documentElement.clientWidth/375*25+'px';
	};
};
</script>
</head>
<body>
    <div class='box'>
		<header class='clearFix'>
			<div class='fl clearFix'>
				<span class='fl'></span>
				<i class='fl'></i>
			</div>
			<div class='fr'>
				<a id="NavBtn" href="javascript:;"></a>
			</div>
		</header>
		<div class='headerTOP'></div>
		<div class='navBar'>
			<ul>
				<li><a href="index.html">首页</a></li>
				<li><a href="underStand.html">了解班级</a></li>
				<li><a class='active' href="#">加入我们</a></li>
				<li><a href="succed.html">联系我们</a></li>
			</ul>
			<div class='clearFix'>
				<a class='fl' href="javascript:;">教师登入</a>
				<a class='fl center' href="javascript:;">媒体登入</a>
				<a class='fl' href="javascript:;">培训登入</a>
			</div>
		</div>
		<section>
			<div class='header-Img'></div>
			<div class='NavTiver'>
				<div class="thisAbsolute">
					<div class='clearFix' id="fixContent">
						<a class='active' href="javascript:;">开发类</a>
						<a href="javascript:;">产品类</a>
						<a href="javascript:;">设计类</a>
						<a href="javascript:;">市场类</a>
						<a href="javascript:;">设计类</a>
						<a href="javascript:;">市场类</a>
						<a href="javascript:;">设计类</a>
						<a href="javascript:;">市场类</a>
						<a href="javascript:;">销售类</a>
					</div>
				</div>
			</div>
			<div class='Context1'>
				<h5>前端工程师</h5>
				<div>
					<p>岗位职责:</p>
					<p>负责公司APP及Web端产品设计；</p>
					<p>部分运营活动页面设计；</p>
				</div>
				<div class='deMand'>
					<p>任职要求:</p>
					<p>对视觉设计痴迷，了解用户体验，习惯用色彩，图形与用户对话；</p>
					<p>有一定的审美，并想不断提高自己的审美能力，对设计抱有激情；</p>
					<p>了解网站布局规范，IOS及Android设计规范，有独立完成的作品；</p>
					<p>两年以上的互联网行业经验；</p>
				</div>
				<a class='btnQQ' href="javascript:;">在线申请</a>
			</div>
			<div class='Context1'>
				<h5>前端工程师</h5>
				<div>
					<p>岗位职责:</p>
					<p>负责公司APP及Web端产品设计；</p>
					<p>部分运营活动页面设计；</p>
				</div>
				<div class='deMand'>
					<p>任职要求:</p>
					<p>对视觉设计痴迷，了解用户体验，习惯用色彩，图形与用户对话；</p>
					<p>有一定的审美，并想不断提高自己的审美能力，对设计抱有激情；</p>
					<p>了解网站布局规范，IOS及Android设计规范，有独立完成的作品；</p>
					<p>两年以上的互联网行业经验；</p>
				</div>
				<a class='btnQQ' href="javascript:;">在线申请</a>
			</div>
			<div class='Context1'>
				<h5>前端工程师</h5>
				<div>
					<p>岗位职责:</p>
					<p>负责公司APP及Web端产品设计；</p>
					<p>部分运营活动页面设计；</p>
				</div>
				<div class='deMand'>
					<p>任职要求:</p>
					<p>对视觉设计痴迷，了解用户体验，习惯用色彩，图形与用户对话；</p>
					<p>有一定的审美，并想不断提高自己的审美能力，对设计抱有激情；</p>
					<p>了解网站布局规范，IOS及Android设计规范，有独立完成的作品；</p>
					<p>两年以上的互联网行业经验；</p>
				</div>
				<a class='btnQQ' href="javascript:;">在线申请</a>
				<div class='pagIng'>
				<a href="javascript:;"><</a>
				<a href="javascript:;">1</a>
				<a href="javascript:;">2</a>
				<a class='active' href="javascript:;">3</a>
				<a href="javascript:;">4</a>
				<a href="javascript:;">5</a>
				<a href="javascript:;">6</a>
				<a href="javascript:;">7</a>
				<a href="javascript:;">8</a>
				<a href="javascript:;">9</a>
				<a href="javascript:;">></a>
			</div>
			</div>
			
		</section>
    	<footer>
    		<div class='ftTop'>
    			<h5>友情链接</h5>
    			<ul class='clearFix'>
    				<li class='fl'><a href="javascript:;">新浪网</a><i></i></li>
    				<li class='fl'><a href="javascript:;">中关村在线</a><i></i></li>
    				<li class='fl'><a href="javascript:;">搜狐</a><i></i></li>
    				<li class='fl'><a href="javascript:;">新东方教育</a></li>
    			</ul>
    		</div>
    		<div class='ftBom'>
    			
    		</div>
    	</footer>
    </div>
    <script type="text/javascript">
    	var oNavBtn=document.querySelector('#NavBtn');
    	var oNavBar=document.querySelector('.navBar');
    	function show(){
    		if(oNavBar.style.display=='block'){
    			oNavBar.style.display='none';
    		}else{
    			oNavBar.style.display='block';
    		}
    	}
    	oNavBtn.addEventListener('touchstart',show,false);
    	//导航栏下部招聘类别（开发类、产品类、设计类等）可左右滑动选择;
    	(function(){
    		var oNavBtn=document.querySelector('#fixContent');
			var aA=oNavBtn.querySelectorAll('a');
				var oW=2+1.2;
				oNavBtn.style.width=oW*aA.length + 'rem';
    		var x=0;
			var y=0;
			oNavBtn.addEventListener('touchstart',function(ev){
				var disX=ev.targetTouches [0].pageX-x;
					function fnMove(ev){
						x=ev.targetTouches[0].pageX-disX;
						if(x>0){
							x=0;	
						}else 

						if(x<-(oNavBtn.offsetWidth/2)){
							x=-(oNavBtn.offsetWidth/2);
						}
						oNavBtn.style.left=x+'px';
					}
					function fnUp(){
						document.removeEventListener('touchmove',fnMove,false);
						document.removeEventListener('touchend',fnUp,false);
					}
				oNavBtn.addEventListener('touchmove',fnMove,false)
				oNavBtn.addEventListener('touchend',fnUp,false)
			ev.preventDefault();
			},false)
    	})();
    </script>
</body>
</html>